# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
newenv/

# Dataset folders
new_plant_dataset_aug/
test/

# Large model files
*.h5
*.keras
*.dylib

# System & editor
.DS_Store
.vscode/
